streamlit
opencv-python
ultralytics
langchain
faiss-cpu
sentence-transformers
openai
python-dotenv
psutil
pandas
sqlite-utils
langchain-community
langchain-huggingface
ultralytics
urllib3
uuid_utils
uvicorn
watchdog
websockets
xxhash
yarl
zstandard